@use 'variables' as*;
@use 'mixins' as*;
.header {
   
    &__top{
        background-color:#00ff01;
        display: block;
        overflow: hidden; 
        letter-spacing: .02em;
        line-height: 1.333em;
        white-space: nowrap;
        text-decoration: none; 
        color:$light-text;
        height: 24px;

          &.marquee {

            .marquee__inner {
                  display: flex; 
                  animation: marquee 30s linear infinite; 
                  animation-play-state: running;
                  font-weight: 600;
                  font-size: 13px;
                 }
             .marquee__content { 
                padding-left: 8em;
                 flex: none; 
            } 
        }
         @keyframes marquee { 0% { 
            transform: translateX(0);
            } 
            100% { 
                 transform: translateX(-100%); } 
         }
    }
  
    &__bottom{
        
        display: flex;
        align-items: center;
        justify-content:space-between;
        top: 24px;
        left: 0;
        right: 0;
        position:fixed;
        z-index: 99;
        padding: 12px;
       
       

        h1{
          margin: 0;  
        }
        
   

     /* Styling the toggle button container */
     .toggle-switch {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 16px;
    }
    
    /* Hide the default checkbox */
    .toggle-switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider design */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $dark-background;
      transition: 0.4s;
      border-radius: 50px;
    }
    
    /* The circle inside the slider */
    .slider:before {
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      right: 2px; /* Start on the right side */
      bottom: 2px;
      background-color: $light-background;
      transition: 0.4s;
    }
    
    /* When the toggle is checked (dark mode) */
    input:checked + .slider {
      background-color: $secondary-color;
    }
    
    /* Move the circle to the left for checked state (dark mode) */
    input:checked + .slider:before {
      transform: translateX(-12px);
      background-color: $dark-background; /* White circle in dark mode */
    }
    
    /* Optional: Add sun and moon icons for better visual clarity */
    .toggle-switch input:checked + .slider:before {
      content: " "; /* Moon icon */
      left: 14px; /* Adjust positioning */
    }
    
    .toggle-switch:not(input:checked) + .slider:before {
      content: " "; /* Sun icon */
      right: 6px;
    }
    
    }
 
}
