

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
