@import 'variables';

.services-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 50vw;
  padding: .6rem;
  margin: auto;

  @media (max-width: 70rem) {
    width: 80vw;
  }

  @media (max-width: 50rem) {
    width: 100vw;
  }

  .video-wrapper {
    grid-column: span 8;
    margin-bottom: 10rem;
    video {
      width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
    }
    .text-content {
      margin-top: 1rem;
      grid-column: span 4;
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      align-items: start;
      h3 {
        margin: 2rem 0 0 0;
        font-family: $secondary-font;
        font-size: clamp(40px, 3.47vw, 70px);
        justify-self: start;
        align-self: start;
        grid-column: span 4;
        @media (max-width: 800px) {
            grid-column: span 8;
          }
      }
      p {
        font-size: 15px;
        grid-column: 5 / span 4;
        @media (max-width: 800px) {
          grid-column: span 8;
        }
      }
      .info {
        grid-column: 5 / span 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        @media (max-width: 800px) {
          grid-column: span 8;
        }
        .bold {
          font-weight: 600;
        }
        ul {
          list-style: none;
          padding-left: 1rem;
        }
      }
    }
  }
}

