// _variables.scss

//fonts

$primary-font:"Haas", system-ui, sans-serif;;
$secondary-font:"Times Dot", serif;


// Variables
$primary-color: #333;
$secondary-color: #fff;
// Dark mode colors
$dark-background: #121212;
$dark-text: #e0e0e0;

// Light mode colors
$light-background: #ffffff;
$light-text: #000000;